header .navbar{
    max-width: 1080px;
    margin: auto;
    border-radius: 1%;
}
.navbar{
    background-color: blueviolet;
}
header img{
    height: 50px;
}
section .nav-link{
    font-size: 20px;
    color: black;
    background-color: gray;
}
#cadastro{
    background-color: rgb(229, 227, 227);
}